@{
    ViewData["Title"] = "Cargo Wagons";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Товарни вагони</h2>
            <p>Моля изберете една от следните категории:</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <div id="carouselOpenWagons" class="carousel slide" data-ride="carousel" style="position: relative;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/newWagons/20250527_082221_024449.jpg" class="d-block w-100" alt="Открити вагони 1" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/Hat/csm_Tamns_254_für_Homepage_2c78c58a00.jpg" class="d-block w-100" alt="Открити вагони 3" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/wagons/tamns.png" class="d-block w-100" alt="Открити вагони 3" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/wagons/AAR.png" class="d-block w-100" alt="Открити вагони 3" style="height: 200px; object-fit: contain;">
                        </div>
                    </div>
                    <div style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(68, 180, 84, 0.8); padding: 10px; text-align: center;">
                        <h5 class="card-title mb-0" style="color: white; font-weight: bold;">Открити вагони</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <div id="carouselPlatformWagons" class="carousel slide" data-ride="carousel" style="position: relative;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/wagons/rbnpss.png" class="d-block w-100" alt="Платформени вагони 1" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/wagons/rens.png" class="d-block w-100" alt="Платформени вагони 2" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/wagons/smnps.png" class="d-block w-100" alt="Платформени вагони 3" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/Hat/csm_Smnps_194_OK_ef12d85d46.jpg" class="d-block w-100" alt="Открити вагони 3" style="height: 200px; object-fit: contain;">
                        </div>
                    </div>
                    <div style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(68, 180, 84, 0.8); padding: 10px; text-align: center;">
                        <h5 class="card-title mb-0" style="color: white; font-weight: bold;">Платформени вагони</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <div id="carouselTankWagons" class="carousel slide" data-ride="carousel" style="position: relative;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/wagons/zans.png" class="d-block w-100" alt="Цистерни 1" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/Hat/csm_Zagns_81m__Edelstahl_Druckgas_4d54dc0c78.jpg" class="d-block w-100" alt="Цистерни 2" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/wagons/talns-174.png" class="d-block w-100" alt="Цистерни 3" style="height: 200px; object-fit: contain;">
                        </div>
                    </div>
                    <div style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(68, 180, 84, 0.8); padding: 10px; text-align: center;">
                        <h5 class="card-title mb-0" style="color: white; font-weight: bold;">Цистерни</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <div id="carouselBoxWagons" class="carousel slide" data-ride="carousel" style="position: relative;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/wagons/AAR.png" class="d-block w-100" alt="Тип Кутия 1" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/wagons/bogie-w.png" class="d-block w-100" alt="Тип Кутия 2" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/newWagons/20240328_130417_024630.jpg" class="d-block w-100" alt="Тип Кутия 3" style="height: 200px; object-fit: contain;">
                        </div>
                    </div>
                    <div style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(68, 180, 84, 0.8); padding: 10px; text-align: center;">
                        <h5 class="card-title mb-0" style="color: white; font-weight: bold;">Контейнеровози</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <div id="carouselCoveredWagons" class="carousel slide" data-ride="carousel" style="position: relative;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/newWagons/20240614_102114_024622.jpg" class="d-block w-100" alt="Покрити вагони 1" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/wagons/talns-174.png" class="d-block w-100" alt="Цистерни 3" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/newWagons/20250328_101141_024540.jpg" class="d-block w-100" alt="Покрити вагони 3" style="height: 200px; object-fit: contain;">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/newWagons/IMG_20220308_104940_024114.jpg" class="d-block w-100" alt="Покрити вагони 3" style="height: 200px; object-fit: contain;">
                        </div>
                    </div>
                    <div style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(68, 180, 84, 0.8); padding: 10px; text-align: center;">
                        <h5 class="card-title mb-0" style="color: white; font-weight: bold;">Насипни товари</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

