@{
    ViewData["Title"] = "Home";
}

<div id="imageCarousel" class="carousel slide carousel-small" data-ride="carousel">
    <div class="carousel-overlay-text">
        <h1 class="display-4 text-center carousel-text-overlay">Добре дошли!</h1>
        <h2 class="text-center carousel-text-overlay">Благодарим ви за проявения интерес.</h2>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex">
                <img src="~/images/Hat/csm_Smnps_193_Website_3b9d7cec71.jpg" class="d-block carousel-image-pair" alt="Image 1">
                <img src="~/images/Hat/csm_Smnps_194_OK_ef12d85d46.jpg" class="d-block carousel-image-pair" alt="Image 2">
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex">
                <img src="~/images/Hat/csm_Tamns_254_für_Homepage_2c78c58a00.jpg" class="d-block carousel-image-pair" alt="Image 3">
                <img src="~/images/Hat/csm_Zagns_81m__Edelstahl_Druckgas_4d54dc0c78.jpg" class="d-block carousel-image-pair" alt="Image 4">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="lead">
                С удоволствие ви представяме нашите услуги и продукти,
                 както и всяка информация, която заслужава вашето внимание. 
                 Като търговско предприятие предлагащо услуги, ние предлагаме
                  на нашите клиенти решения за релсови транспортни средства, съобразени с техните потребности.
            </p>

            <h2 class="mt-4 mb-3">Към продуктовата гама на предприятието принадлежат:</h2>
            
            <div class="row mb-4">
                <div class="col-md-7">
                    <ul class="list-group list-group-flush">
                <li class="list-group-item">Вагон – платформи тип R или S за транспорт на различни материали, 
                като напр. изделия от стомана, дългомерен дървен материал,
                 строителни машини, строителни материали, релси, бетонови елементи, траверси</li>
                <li class="list-group-item">Открити вагони тип E за транспорт на метални отпадъци,
                 гипс, насипна земна маса, баластра, дребен чакъл, ситна баластра, въглища,
                  дървен материал и др. подобни стоки. Съществува възможост те да бъдат
                   с откриващ се покрив като тип T</li>
                <li class="list-group-item">Открити вагони за насипни материали тип F за транспорт на руда и кокс</li>
                <li class="list-group-item">Вагони за транспорт на кангали тип S за транспортиране на ролки ламарина.</li>
                <li class="list-group-item">Вагон - цистерни за нефт, химикали и газ под налягане</li>
                <li class="list-group-item">Резервни части</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div id="wagonsCarousel" class="carousel slide carousel-wagons" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/images/wagons/AAR.png" class="d-block w-100" alt="AAR">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/wagons/bogie-w.png" class="d-block w-100" alt="Bogie">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/wagons/eanos-a.png" class="d-block w-100" alt="Eanos">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/wagons/falns-279.png" class="d-block w-100" alt="Falns 279">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/wagons/falns.png" class="d-block w-100" alt="Falns">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/wagons/rbnpss.png" class="d-block w-100" alt="Rbnpss">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/wagons/rens.png" class="d-block w-100" alt="Rens">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/wagons/smnps.png" class="d-block w-100" alt="Smnps">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/wagons/talns-174.png" class="d-block w-100" alt="Talns 174">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/wagons/tamns.png" class="d-block w-100" alt="Tamns">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/wagons/zans.png" class="d-block w-100" alt="Zans">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
             <h2 class="mt-4 mb-3">Нашите партньори:</h2>
             <div class="row mt-5 mb-4">
                <div class="col-md-6 mb-3">
                    <div class="card partner-card partner-onrail">
                        <div class="card-body text-center">
                            <a href="http://www.on-rail.com" target="_blank" class="partner-link">
                                <h5 class="card-title">On Rail Gesellschaft für Eisenbahnausrüstung und Zubehör mbH</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card partner-card partner-wls">
                        <div class="card-body text-center">
                            <a href="http://www.wls-moers.de/" target="_blank" class="partner-link">
                                <h5 class="card-title">WLS Waggon- und Lokreparatur-Service GmbH</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-info mt-4 mb-4 position-relative">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="alert-heading">Сертификация</h4>
                        <p class="mb-0"><strong>КТГ ЕООД е сертифицирана по DIN EN ISO 9001:2015</strong></p>
                        <a href="~/images/ktg-din-bg.jpg" target="_blank" class="btn btn-primary mt-2">Виж сертификата</a>
                    </div>
                    <img src="~/images/ktg-din-bg.jpg" alt="Sertifikat" class="img-cert">
                </div>
            </div>
        </div>
    </div>
</div>
