@{
    ViewData["Title"] = "Parts";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Резервни части</h2>
            <p>Ако не виждате желаното, моля свържете се с нас и ние ще се постараем да ви помогнем.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
                <div style="position: relative;">
                    <img src="~/images/Parts/Puffer.jpg" class="card-img-top" alt="Буфери" style="height: 400px; object-fit: contain; padding: 10px;">
                    <div style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(68, 180, 84, 0.8); padding: 15px; text-align: center;">
                        <h4 class="card-title mb-0" style="color: white; font-weight: bold;">Буфери</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
                <div style="position: relative;">
                    <img src="~/images/Parts/metalogumen paket.jpg" class="card-img-top" alt="Метало-гумен пакет" style="height: 400px; object-fit: contain; padding: 10px;">
                    <div style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(68, 180, 84, 0.8); padding: 15px; text-align: center;">
                        <h4 class="card-title mb-0" style="color: white; font-weight: bold;">Метало-гумен пакет</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
                <div style="position: relative;">
                    <img src="~/images/Parts/Vintov spriag.jpg" class="card-img-top" alt="Винтов спряг" style="height: 400px; object-fit: contain; padding: 10px;">
                    <div style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(68, 180, 84, 0.8); padding: 15px; text-align: center;">
                        <h4 class="card-title mb-0" style="color: white; font-weight: bold;">Винтов спряг</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
                <div style="position: relative;">
                    <img src="~/images/Parts/SAB.jpg" class="card-img-top" alt="SAB регулатор" style="height: 400px; object-fit: contain; padding: 10px;">
                    <div style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(68, 180, 84, 0.8); padding: 15px; text-align: center;">
                        <h4 class="card-title mb-0" style="color: white; font-weight: bold;">SAB регулатор</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

