@{
    ViewData["Title"] = "Parts";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>@Localizer["PartsTitle"]</h2>
            <p>@Localizer["PartsMessage"]</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
                <div class="parts-image-container">
                    <img src="~/images/wagons/bogie-w.png" class="card-img-top parts-image" alt="Талиги Y25">
                    <div class="parts-title-overlay">
                        <h4 class="card-title mb-0 parts-title-text">Талиги Y25</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
                <div class="parts-image-container">
                    <img src="~/images/wagons/bogie-w.png" class="card-img-top parts-image" alt="Талиги TH">
                    <div class="parts-title-overlay">
                        <h4 class="card-title mb-0 parts-title-text">Талиги TH</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
                <div class="parts-image-container">
                    <img src="~/images/Parts/wheels1.jpg" class="card-img-top parts-image" alt="Колооси">
                    <div class="parts-title-overlay">
                        <h4 class="card-title mb-0 parts-title-text">Колооси</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
                <div class="parts-image-container">
                    <img src="~/images/Parts/Puffer.jpg" class="card-img-top parts-image" alt="Буфери">
                    <div class="parts-title-overlay">
                        <h4 class="card-title mb-0 parts-title-text">Буфери</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
                <div class="parts-image-container">
                    <img src="~/images/Parts/metalogumen paket.jpg" class="card-img-top parts-image" alt="Метало-гумен пакет">
                    <div class="parts-title-overlay">
                        <h4 class="card-title mb-0 parts-title-text">Метало-гумен пакет</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
                <div class="parts-image-container">
                    <img src="~/images/Parts/Vintov spriag.jpg" class="card-img-top parts-image" alt="Винтов спряг">
                    <div class="parts-title-overlay">
                        <h4 class="card-title mb-0 parts-title-text">Винтов спряг</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="card h-100">
                <div class="parts-image-container">
                    <img src="~/images/Parts/SAB.jpg" class="card-img-top parts-image" alt="SAB регулатор">
                    <div class="parts-title-overlay">
                        <h4 class="card-title mb-0 parts-title-text">SAB регулатор</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

